@import "pressable.css";
@import "dropdown.css";

@font-face {
    font-family: 'Gabarito-VariableFont_wght';
    src: url('/assets/fonts/Gabarito/Gabarito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-VariableFont_wght';
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans-Italic-VariableFont_wght';
    src: url('/assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --color-primary: #000000;
    --color-secondary: #639fd5;
    --color-ternary: #886f55;
    --color-background-primary: #fffafa;

    --color-blue-electric: rgba(0,212,255,1);
}

body, map {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: JosefinSans-VariableFont_wght, sans-serif;
}

body {
    background-size: 3em 3em;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

frame {
    overflow: hidden;

    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: JosefinSans-VariableFont_wght, sans-serif;
}

em {
    font-family: JosefinSans-Italic-VariableFont_wght, sans-serif;
}

.dyptique {
    padding: 2em;
    font-size: 2em;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    animation: gradient-pulse 2s linear infinite;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subtitle {
    color: var(--color-secondary);
    font-size: 1.5em;
    font-weight: 800;
    opacity: 0;
    animation: appear 1s ease-in-out 1.5s forwards;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.nav-grid > * {
    aspect-ratio: 1;
    color: var(--color-background-primary);
}

.nav-grid > div > div {
    background-color: var(--color-secondary)
}

.map {
    position: absolute;
}

